In [22]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [23]:
# Files to Load (Remember to Change These)
fast_food_restaurants_2018 = "../Resources/Fast_Food_Restaurants_2018.csv"

# Read files into Pandas DF
Rest_2018 = pd.read_csv(fast_food_restaurants_2018)

In [24]:
# remove columns we will not need
Rest_2018=Rest_2018.drop(['id','sourceURLs','websites'], axis =1)
Rest_2018.columns

Index(['dateAdded', 'dateUpdated', 'address', 'categories', 'city', 'country',
       'keys', 'latitude', 'longitude', 'name', 'postalCode', 'province'],
      dtype='object')

In [25]:
# reorganize/rename columns
Rest_2018 = Rest_2018.rename(columns={'name':'Name', 'address': 'Address', 'city': 'City', 'country': 'Country', 'latitude': 'Latitude', 'longitude':'Longitude', 'postalCode': 'Zip Code',\
                                     'province': 'State'})
Rest_2018 = Rest_2018[['Name', 'Address', 'City','State', 'Zip Code','Country', 'Latitude', 'Longitude','categories']]
Rest_2018.head()

,Name,Address,City,State,Zip Code,Country,Latitude,Longitude,categories
0,SONIC Drive In,800 N Canal Blvd,Thibodaux,LA,70301,US,29.814697,-90.814742,American Restaurant and Fast Food Restaurant
1,SONIC Drive In,800 N Canal Blvd,Thibodaux,LA,70301,US,29.814697,-90.814742,Fast Food Restaurants
2,Taco Bell,206 Wears Valley Rd,Pigeon Forge,TN,37863,US,35.803788,-83.580553,Fast Food Restaurant
3,Arby's,3652 Parkway,Pigeon Forge,TN,37863,US,35.782339,-83.551408,Fast Food
4,Steak 'n Shake,2118 Mt Zion Parkway,Morrow,GA,30260,US,33.562738,-84.321143,Fast Food Restaurant

In [26]:
# get unique names in list and sort alphabetically to assist with cleaning
names = Rest_2018['Name'].unique()
names.sort()
print(len(names))
print(names)

571
['7-Eleven' '90 Miles Cuban Cafe' 'A&W/Long John Silvers'
 "A's Ace Burgers" 'Abruzzi Pizza' 'Acropolis Gyro Palace'
 'Adobe Cantina Salsa' 'Ak Buffet' 'All About Burger'
 'Ameci Pizza & Pasta' "Andy's Frozen Custard" "Angelina's Pizza"
 "Ani's Chicken" "Arby's" "Arby's - Closed" 'Arbys' 'Arctic Circle'
 "Arni's Crawfordsville" "Arthur Treacher's Fish & Chips" 'Au Bon Pain'
 "Auntie Anne's" "Auntie Anne's Pretzels" 'Ay Jalisco' 'B Good'
 'B&D Burgers' "B's Pizza" 'B.GOOD' 'BURGERFI' 'Back Yard Burgers'
 'Backyard Grill' "Bad Daddy's Burger Bar" 'Baja Fresh Mexican Grill'
 "Baker's Drive Thru" "Baker's Drive-thru" 'Band Box Diner' 'Barberitos'
 "Barro's Pizza" 'Baskin-Robbins' 'Batter Up' 'BeanThru' 'Beef Villa'
 "Bell's Pizza" 'Belleria Pizzeria' "Ben & Jerry's" "Ben and Jerry's"
 "Bennidito's Pizza" 'Best Gyros' 'Big House Burgers' 'Big Island Pizza'
 'Bistro To Go' 'Blackies Hotdog Stand' 'Blackjack Pizza'
 "Blake's Lotaburger" 'Blimpie' 'Blue Coast Burrito' 'Boardwalk Grill'
 'Bob Evans' 'Bob Evans Restaurant' "Bobby's Burger Palace"
 'Boddie Noell Enterprises Inc' 'Bojangles'
 "Bojangles' Famous Chicken 'n Biscuits" 'Boloco' "Boomer's Drive-In"
 'Boston Burger Company' 'Boston Market' 'Boston Road Pizza'
 'Boys Burgers' "Braum's" 'Bristol 45 Diner' "Bubba's Texas Burger Shack"
 "Bucky's Family Restaurant" 'Buona Vita' 'Burger Basket' 'Burger House'
 'Burger King' 'Burger King/Popeyes' 'Burger King¬Æ' 'Burrito Bros.'
 "Bush's Chicken" 'CASA Mexicana' "CD's Wings" 'Cafe Paris'
 'Cafe Zona Rosa' 'California Chicken Cafe' 'California Tortilla'
 'Capri Italian Restaurant' 'Capri Restaurant' "Capriotti's Sandwich Shop"
 "Captain D's" "Captain D's Seafood" "Carl's Jr"
 "Carl's Jr / Green Burrito" "Carl's Jr." "Carl's Jr. / Green Burrito"
 "Carl's Jr. / The Green Burrito" 'Carvel' "Casey's General Store"
 'Caseys Carry Out Pizza' "Chanello's Pizza" "Charley's Grilled Subs"
 'Charleys Philly Steaks' "Charlie's Pizzeria" "Charlie's Restaurant"
 'Charo Chicken' "Checker's Pizza" 'Checkers' 'Chicago Pizza With A Twist'
 'Chick-Fil-A' 'Chick-fil-A' 'Chicken Express' 'Chicken Inn'
 'Chicken Kitchen' "Chicken Mary's" 'China Bowl Take Out Restaurant'
 'China Buffet' 'China City' 'China Garden' 'China Restaurant'
 'Chinatown Express' 'Chinatown Inn' 'Chipotle' 'Chipotle Mexican Grill'
 "Christo's Original" 'Chronic Tacos' 'Chun Wah Kam Noodle Factory'
 "Church's Chicken" 'Citizen Burger Bar' 'Clambake Seafood Restaurant'
 'Cluck-U Chicken' 'Cobani Gyro Kebab' 'Comet Burgers' 'Cook Out'
 'Cook St. Helena' 'Copper Oven Artisan Pizza' 'Cottage Inn Pizza'
 'Country Buffet' "Cousin's Subs" 'Cozumel' 'Cremo Drive-In' 'Creperie'
 'Crown Fried Chicken' "Culver's" "Cupie's Drive-In" 'D & M Subs'
 "D'Angelo Grilled Sandwiches" 'Dairy Heaven' 'Dairy Queen'
 'Dairy Queen (Treat Only)' 'Danielle Inc' 'De Afghanan Kabob House'
 'Del Taco' "Dick's Hamburgers" "Dominick's Italian Restaurant"
 'Dominion Pizza' "Domino's Pizza" "Don & Millie's" 'Dragon Dragon'
 'Dunkin Donuts' "Dunkin' Donuts" 'Earth Fare' 'East of Edens' "Eegee's"
 'Einstein Bros Bagels' 'El Burrito Loco' 'El Original' 'El Pollo Loco'
 'El Pollo Regio' 'El Ranchito Taco Shop' 'El Sombrero' 'El Taquito'
 'Errandbug Fast Restaurant Delivery' "Eudici's Pizza" 'Extreme Pita'
 'Fajita Grill' "Famous Dave's" 'Farmer Boys' 'Fashion Cafe'
 "Fast Eddie's MOAB" 'Fat Boy Burgers' "Fat Mo's Burgers" "Fat Patty's"
 'Fatburger' "Fazoli's" "Fazzari's" 'Festival Eatery'
 "Filippi's Pizza Grotto" 'Firehouse Subs' 'Five Guys'
 'Five Guys Burgers And Fries' 'Five Guys Burgers Fries' 'Flame Broiler'
 'Flaming Grill and Buffet' 'Flushing A' 'Flying J' "Foster's Freeze"
 'Fosters Freeze' 'Four Burgers' "Fox's Gourmet Delicatessen"
 "Fox's Pizza Den" 'Frankies' 'Fratellos Hot Dogs' 'Frates Drive-In'
 'Fuddruckers' 'Fuku' 'GD Bro Burger' "Gambino's Pizza"
 'Gangnam Style Korean Kitchen' 'Garden Catering' 'Genghis Grill'
 "George's Gyros Spot 2" 'Git-It-N-Git'
 'Glorious Foods Gourmet to go & Catering' 'Gold Star Chili'
 'Golden Chick' 'Golden Dragon' 'Golden Harvest Chinese Restaurant'
 'Good Guys Pizza' 'Gourmet Grill' 'Grand China Chinese Restaurant'
 'Grande Italian Restaurant' "Grandy's" 'Great American Hamburger Pie Co'
 'Great Bend Taco' 'Great Wall Restaurant' 'Great Wraps' "Guerrazzi's"
 "Gus's Carryout" 'Gyromania Grill' 'Gyros Express' 'Halo Burger'
 'Happy Dragon' "Hardee's" "Hardee's / Red Burrito" "Hardee's/red Burrito"
 'Hardees' "Heff's Burgers" 'Henny Penny Family Restaurant'
 'Hernandez Mexican Restaurant' 'HiBoy Drive-in' 'High Tech Burrito'
 'Hilton Boston Logan Airport' "Hobo's Korner Kitchen" 'Hometown Buffet'
 'Hon Lin Restaurant' 'Hot Dog on a Stick' 'Hot Lips Pizza' 'Huddle House'
 'Hunan Gardens' 'In-N-Out Burger' 'Islands Restaurant'
 'Italian Pizzeria Restaurant' 'Italian Village Pizza' "Italo's Pizza"
 "Ivan's Restaurant" 'Jack In The Box' 'Jack in the Box'
 'Jack in the Box -' "Jack's Goal Line Stand" 'Jacks N Joe'
 "Jake's Wayback Burgers" 'Jalsa Indian Fast Food' 'Jamba Juice'
 "Jason's Deli" "Jerry's Subs & Pizza" "Jersey Mike's Subs"
 "Jim Bob's Chicken Fingers" "Jim's Steakout" "Jim's Steaks"
 "Jimmy John's" 'Jimmy Johns' "Jimmy's Grotto" "Joe's Crab Shack"
 'Johnny Rockets' "Johnny's Wife's Place" "Johnson's Popcorn" 'Jollibee'
 'Jon Smith Subs' 'KFC' 'KFC - Kentucky Fried Chicken' 'KFC/AW'
 'KFC/Long John Silvers' 'KFC/Taco Bell' "Kasa's Pizza"
 "Kim's Oriental Kitchen" 'King Gyros' 'King Wah' 'King of Wings' 'Kismet'
 "Kosta's Gyros" 'Kow Thai Take Out' 'Krispy Krunchy Chicken' 'Krystal'
 'Kum & Go' 'Kumagoro Fine Japanese Restaurant and Sushi Bar'
 'La Hacienda Mexican Restaurant' "Lacey's On The Hill Restaurant"
 'Lake Trout 2' 'Lakewood Ranch Baptist Church' 'Legends Burgers'
 'Legendz' "Lilly's Restaurant" "Lin's Garden" "Lion's Choice"
 "Little Caesar's Pizza" 'Little Caesars' 'Little Caesars Pizza'
 'Little Italy' 'Little Q Hot Pot' 'Lobster Hut' 'Local Burger'
 "Long John Silver's" "Long John Silver's / AW" 'Long John Silvers'
 'Long John Silvers / A&W' 'Los Cotijas Taco Shop' 'Loving Hut'
 'Low Chinese American Restaurant' "Luby's" "Lupo's Char-Pit" "Ly's Cafe"
 "Mah's Garden Restaurant" 'Maid-rite' 'Maki Fresh' "Mama's Fried Chicken"
 'Mandarin Garden' 'Mangia Pizza' 'Marathon'
 "Mason's Famous Lobster Rolls" 'Mc Donalds' "McAlister's Deli"
 "McDonald's" "McDonald's of Rolesville" 'McDonalds' "McDonalds's"
 "Mcdonald's" 'Mcdonalds' 'Mcdonalds Whitehouse' 'Megs Drive In'
 "Mickey's Gyros & Ribs" 'Mignano Bros' "Miguel's Jr" 'Milk Street Cafe'
 "Miss Katie's Diner" "Moe's Burger Joint" "Moe's Cafe"
 "Moe's Southwest Grill" "Mooney's Ice Cream Store" 'Mr Hero' 'Mr Taco'
 'Mr. Chicken' 'Mr. Gyros Greek Food & Pastry' 'Mr. Hero' 'Mr. Hoagie'
 'Mrs. Fields' 'Mustard Seed' "My Daddy's Pizza & Grille"
 "Nathan's Famous" "Natraj's Tandoori" 'New York Pizza Department'
 "Nick's Gyros" "Nino's Pizzarama" 'Ocean Empire Restaurant'
 'Old Carolina Barbecue Company' 'Old Country Buffet'
 'Old Mill Crab House' 'Orange Julius' "Original Tommy's Hamburgers"
 "Oscar's Restaurant" 'PDQ' "Pal's Sudden Service" "Palio's Pizza Cafe"
 'Panda Express' 'Panda Express Innovation Kitchen' 'Panera Bread'
 "Papa Gino's" 'Papa Gyros' "Papa J's" "Papa Joe's Pizza"
 "Papa John's Pizza" 'Parkside Gyros' "Patrick's on Third" 'Peach Garden'
 'Pei Wei' 'Penguin Point' 'Penn Station East Coast Subs'
 "Penn's Thai Cafe" 'PepperJax Grill' 'Pepperjax Grill'
 "Petro's Chili & Chips" "Photo's Hot Dogs" 'Pick Up Stix' 'Picnic Basket'
 'Pilot Travel Center' "Pita's Republic" 'Pizza Barn' 'Pizza Guys'
 'Pizza Hut' 'Pizza Inn' 'Pizza Pipeline' 'Pizza Pro' 'Pizza Pub'
 "Plato's Closet" 'Players Grill' 'Poki Roll' 'Pollo Campero'
 'Pollo Tropical' 'Pony Express To Go' "Popeye's Louisiana Kitchen"
 'Popeyes' 'Popeyes Chicken & Biscuits' 'Popeyes Chicken Biscuits'
 'Popeyes Louisiana Kitchen' 'Port of Subs' "Portillo's" 'Pretzel Maker'
 'Pretzel Time' "Price's Chicken Coop" 'Primo Hoagies' "Primo's Pizza"
 'QDOBA Mexican Eats' 'Qdoba Mexican Eats' 'Qdoba Mexican Grill'
 "Quizno's" 'Quiznos' 'Quiznos Sub' "Raising Cane's"
 "Raising Cane's Chicken Fingers" 'Raising Canes' "Rally's"
 "Rally's Hamburgers" 'Rallys' "Rascal's Teriyaki Grill"
 "Ray J's American Grill" 'Red Baron Drive-In' 'Regions Bank'
 "Richard's Pizza" "Rick's Drive In Out" "Rico's Pizza & Subs"
 "Riviera D'Italia" 'Roche Bros.' 'Roma Pizza' 'Romas Pizza'
 'Round Table Pizza' "Rubio's" 'Runza' "Ryan's" 'SONIC Drive In'
 'SONIC Drive-In' 'SUBWAY' 'SUBWAY¬Æ' 'Sakana'
 'Sakura Japanese Restaurant' 'Salad Creations' 'Saladworks' "Sam's Gyros"
 "Sam's Pizza Restaurant" 'Sarku Japan' 'Sbarro' "Schlotzsky's"
 'Sesame Burgers & Beer' 'Shake Shack' "Shamus's Sandwich Shoppe"
 'Shangri-la Chinese Restaurant' 'Shawarma Kebab' 'Sheetz' 'Shell'
 'ShopHouse Southeast Asian Kitchen' 'Siam Fusion' "Simple Simon's Pizza"
 'Skyline Chili' 'Smashburger' "Smithfield's Chicken 'n Bar-b-q"
 'Smoothie King' 'Sonic' "Sonic America's Drive-In" 'Sonic Drive In'
 'Sonic Drive in' 'Sonic Drive-In' 'Spangles' 'St. Clair Broiler'
 'Starbucks Coffee' "Steak 'n Shake" 'Steak Escape' 'Steak N Shake'
 'Steele Pier Hotdogs' "Stoko's" 'Sub Conscious' 'Subway' 'Sumo Steaks'
 'Sunrise Gyros' 'Super Wings' 'Surfside Burger Shack'
 "Sweet Magnolia's Cafe Bakery" 'T-Mobile' "Tacconelli's Pizza"
 'Taco Bell' 'Taco Bell / KFC' 'Taco Bell/KFC' 'Taco Bell/Pizza Hut'
 "Taco Bob's" 'Taco Bueno' 'Taco Cabana' 'Taco Casa' 'Taco Del Mar'
 "Taco John's" 'Taco Mama' 'Taco Mayo' 'Taco Time' "Tam's Burgers"
 'Tanuki Sushi Bar and Garden' 'Taqueria' 'Tastee Freez' 'Thai Delight'
 "The 50's Cafe" "The Arch at McDonald's Campus Office Building"
 'The Corner Cafe' 'The Dog Pit' 'The Extreme Pita' 'The Flame Broiler'
 'The Grille' 'The Hat' 'The Hotdog Shoppe' 'The New Chalet'
 'The Pizza Company' 'The Sandwich Place' 'The Swinging Door'
 'TheMINT Gastropub' 'Tiffin' "Togi's Sub Station" "Togo's"
 "Tom's Drive In" "Tony Wang's Chinese Restaurant" 'Tonys Pizza'
 "Topper's Pizza" 'Toppers Pizza' 'Tropical Smoothie Cafe'
 'Tropicana Pizza' "Tumby's Pizza" 'Umami Burger' 'VeganBurg'
 'Villa Italian Kitchen' 'Vista Drive In' 'W.G. Grinders' 'Waffle House'
 'Walmart Supercenter' 'Wawa' "Wendy's" "Wendy's Valenti Management"
 'West Point Pizza' 'Westchester Burger Company' "Wetzel's Pretzels"
 'Whataburger' 'Which Wich' "Whipper's Pizza" 'White Castle'
 'Wienerschitzel' 'Wienerschnitzel' "Wild Willy's" 'Wingstop'
 'Wingstop Restaurant' 'Wise Guys A Chicago Eatery' 'Wolf River Diner'
 "Wolf's Dairy Queen" 'Yoshinoya' 'Zankou Chicken' "Zaxby's"
 "Zaxby's Chicken Fingers & Buffalo Wings" "Zio's Italian Kitchen"
 'b.good' 'iSushi']

In [27]:
Rest_2018['Name'] = Rest_2018['Name'].replace({"Arby's - Closed":"Arby's",'Arbys': "Arby's", "Auntie Anne's": "Auntie Anne's Pretzels","Baker's Drive Thru":"Baker's Drive-thru","Ben and Jerry's": "Ben & Jerry's",'Bob Evans Restaurant':'Bob Evans',"Bojangles' Famous Chicken 'n Biscuits": 'Bojangles', 'Burger King¬Æ': 'Burger King','Capri Italian Restaurant':'Capri Restaurant',"Carl's Jr.":"Carl's Jr","Carl's Jr. / Green Burrito":"Carl's Jr","Carl's Jr / Green Burrito":"Carl's Jr",'Caseys Carry Out Pizza':"Casey's General Store","Charley's Grilled Subs":'Charleys Philly Steaks',"Checker's Pizza":'Checkers','Chick-fil-A':'Chick-Fil-A', 'Chipotle':'Chipotle Mexican Grill','Dairy Queen (Treat Only)':'Dairy Queen','Dunkin Donuts':"Dunkin' Donuts",'Five Guys Burgers Fries':'Five Guys', 'Five Guys Burgers And Fries':'Five Guys',"Foster's Freeze":'Fosters Freeze', "Hardee's":'Hardees',"Hardee's / Red Burrito":'Hardees', "Hardee's/red Burrito":'Hardees','Jack in the Box':'Jack In The Box', 'Jack in the Box -':'Jack In The Box'})
Rest_2018['Name'] = Rest_2018['Name'].replace({"Jimmy John's":'Jimmy Johns','KFC - Kentucky Fried Chicken':'KFC','KFC/AW':'KFC','KFC/Long John Silvers':'KFC', 'KFC/Taco Bell':'KFC'})
Rest_2018['Name'] = Rest_2018['Name'].replace({"Little Caesar's Pizza":'Little Caesars', 'Little Caesars Pizza':'Little Caesars',"Long John Silver's / AW" 'Long John Silvers':"Long John Silver's",'Long John Silvers / A&W':"Long John Silver's",'Mc Donalds':"McDonald's","McDonald's of Rolesville":"McDonald's",'McDonalds':"McDonald's","McDonalds's":"McDonald's","Mcdonald's":"McDonald's",'Mcdonalds':"McDonald's",'Mcdonalds Whitehouse':"McDonald's"})
Rest_2018['Name'] = Rest_2018['Name'].replace({'Panda Express Innovation Kitchen':'Panda Express' ,'PepperJax Grill':'Pepperjax Grill',"Popeye's Louisiana Kitchen":'Popeyes','Popeyes Chicken & Biscuits':'Popeyes','Popeyes Chicken Biscuits':'Popeyes','Popeyes Louisiana Kitchen':'Popeyes'})
Rest_2018['Name'] = Rest_2018['Name'].replace({'QDOBA Mexican Eats':'Qdoba Mexican Grill', 'Qdoba Mexican Eats':'Qdoba Mexican Grill', "Quizno's": 'Quiznos', 'Quiznos Sub':'Quiznos',"Raising Cane's":'Raising Canes', "Raising Cane's Chicken Fingers":'Raising Canes'})
Rest_2018['Name'] = Rest_2018['Name'].replace({"Rally's Hamburgers":"Rally's", 'Rallys':"Rally's",'Roma Pizza':'Romas Pizza','SONIC Drive In': 'SONIC Drive-In', 'SUBWAY¬Æ':'SUBWAY'})
Rest_2018['Name'] = Rest_2018['Name'].replace({'Sonic':'SONIC Drive-In', "Sonic America's Drive-In":'SONIC Drive-In','Sonic Drive In':'SONIC Drive-In','Sonic Drive in':'SONIC Drive-In','Sonic Drive-In':'SONIC Drive-In',"Steak 'n Shake":'Steak N Shake','Taco Bell / KFC':'Taco Bell' ,'Taco Bell/KFC':'Taco Bell','Taco Bell/Pizza Hut':'Taco Bell'})
Rest_2018['Name'] = Rest_2018['Name'].replace({ 'Wienerschitzel':'Wienerschnitzel','Wingstop Restaurant':'Wingstop',"Wolf's Dairy Queen" :'Dairy Queen',"Zaxby's Chicken Fingers & Buffalo Wings": "Zaxby's",'b.good':'B.GOOD', 'A&W/Long John Silvers':"Long John Silver's"})

In [28]:
print(len(Rest_2018))

10000

In [29]:
# Remove locations that are not food related 'Walmart Supercenter''T-Mobile''Hilton Boston Logan Airport''7-Eleven'
# https://thispointer.com/python-pandas-how-to-drop-rows-in-dataframe-by-conditions-on-column-values/
indexNames= Rest_2018[(Rest_2018['Name']=='Walmart Supercenter')].index
Rest_2018.drop(indexNames, inplace=True)

In [30]:
indexNames= Rest_2018[(Rest_2018['Name']=='T-Mobile')].index
Rest_2018.drop(indexNames, inplace=True)

In [31]:
indexNames= Rest_2018[(Rest_2018['Name']=='Hilton Boston Logan Airport')].index
Rest_2018.drop(indexNames, inplace=True)

In [32]:
indexNames= Rest_2018[(Rest_2018['Name']=='7-Eleven')].index
Rest_2018.drop(indexNames, inplace=True)
print(len(Rest_2018))
Rest_2018['Name'].nunique()

9977

493

In [33]:
# find number of entries for each location
Rest_2018['Name'].value_counts()

McDonald's               1953
Taco Bell                1036
Burger King               834
Subway                    776
Arby's                    669
                         ...
Wetzel's Pretzels           1
Mangia Pizza                1
Batter Up                   1
Kum & Go                    1
Johnny's Wife's Place       1
Name: Name, Length: 493, dtype: int64

In [34]:
# Remove all locations that have less than 50 entries
# https://www.thetopsites.net/article/58467286.shtml
threshold = 50
clean_rest_2018 = Rest_2018[Rest_2018.groupby('Name')['Name'].transform('count')>threshold].copy()
print(len(clean_rest_2018))
clean_rest_2018['Name'].value_counts()

8526

McDonald's         1953
Taco Bell          1036
Burger King         834
Subway              776
Arby's              669
Wendy's             628
Jack In The Box     332
Pizza Hut           230
Chick-Fil-A         228
Dairy Queen         220
Domino's Pizza      215
SONIC Drive-In      205
KFC                 176
Carl's Jr           130
Jimmy Johns         121
Hardees             104
Krystal              82
Dunkin' Donuts       76
Panera Bread         76
SUBWAY               73
Culver's             71
Del Taco             66
Panda Express        62
Steak N Shake        56
In-N-Out Burger      54
Taco John's          53
Name: Name, dtype: int64

In [35]:
clean_rest_2018.to_csv('../Resources/clean_rest_2018.csv', encoding='utf-8', index = False)

In [38]:
# combine with chipotle csv
# first read get file then read into pandas DF
Chipotle_stores = "../Resources/chipotle_stores.csv"
chipotle = pd.read_csv(Chipotle_stores)
chipotle.head(2)

,Name,Address,City,State,Zip Code,Country,Latitude,Longitude
0,Chipotle Mexican Grill,346 W Magnolia Ave,Auburn,Alabama,36832,US,32.606813,-85.487328
1,Chipotle Mexican Grill,300 20th St S,Birmingham,Alabama,35233,US,33.509722,-86.802756

In [39]:
clean_rest_2018.head(2)

,Name,Address,City,State,Zip Code,Country,Latitude,Longitude,categories
0,SONIC Drive-In,800 N Canal Blvd,Thibodaux,LA,70301,US,29.814697,-90.814742,American Restaurant and Fast Food Restaurant
1,SONIC Drive-In,800 N Canal Blvd,Thibodaux,LA,70301,US,29.814697,-90.814742,Fast Food Restaurants

In [52]:
# wound up combinging via excel, could not get to combine without duplicate columns for address, city, etc. need to talk about at class

all_rest_df = "../Resources/All_rest_2018.csv"
all_rest_df = pd.read_csv(all_rest_df)
all_rest_df.head()

,Name,Address,City,State,Zip Code,Country,Latitude,Longitude,Categories,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,Chipotle Mexican Grill,346 W Magnolia Ave,Auburn,Alabama,36832,US,32.606813,-85.487328,NaN,24509.0,23.7,27638.0,22390.0,9821.0,40.070994
1,Chipotle Mexican Grill,300 20th St S,Birmingham,Alabama,35233,US,33.509722,-86.802756,NaN,1715.0,27.7,41500.0,29812.0,655.0,38.192420
2,Chipotle Mexican Grill,3220 Morrow Rd,Birmingham,Alabama,35235,US,33.595581,-86.647437,NaN,20926.0,38.0,55609.0,25477.0,2829.0,13.519067
3,Chipotle Mexican Grill,4719 Highway 280,Birmingham,Alabama,35242,US,33.422582,-86.698279,NaN,55122.0,40.9,91966.0,51709.0,3641.0,6.605348
4,Chipotle Mexican Grill,1821 Cherokee Ave SW,Cullman,Alabama,35055,US,34.154134,-86.841220,NaN,20884.0,38.4,42252.0,23465.0,3202.0,15.332312