Our first presentation was going to answer the question, does healthy equate to happy?  We had great ideas in regards to the data we wanted to collect, as the first go around on the optional data sets and API's appeared to have the data we were looking to measure. Upon further investigatioin,  the step counts, physical stats and gender information was a bit harder to pull from an API than we thought.

Hence, we are now working to see if we can use data provided by the census API, a Kaggle data series that contained over 2,000 Chipotle stores as well as a sample set of data from Kaggle regarding other fast food locations, to see if we can predict what factors may influence a Chipotle location. Originally we had a few different years of information, but because we could not obtain the 2019 census data, we had enough with 2018 we used that year as our basis.

Kaggle data: https://www.kaggle.com/jeffreybraun/chipotle-locations
Sample data from other fast food locations: https://www.kaggle.com/datafiniti/fast-food-restaurants

First we pulled and cleaned all of the data.

In [1]:
import pandas as pd
import numpy as np
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2018)

## Census Data

In [2]:
# Run Census Search to retrieve data on all zip codes (2017 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [3]:
# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count
0,00601,17242.0,40.5,13092.0,6999.0,10772.0
1,00602,38442.0,42.3,16358.0,9277.0,19611.0
2,00603,48814.0,41.1,16603.0,11307.0,24337.0
3,00606,6437.0,43.3,12832.0,5943.0,4163.0
4,00610,27073.0,42.1,19309.0,10220.0,11724.0

In [4]:
# Add Poverty Rate at the end
census_pd["Poverty Rate"]=census_pd["Poverty Count"]*100/ census_pd["Population"]

In [5]:
# Drop all NaN data
census_pd.dropna(subset=['Household Income', 'Per Capita Income', 'Poverty Rate'], inplace=True)
print(len(census_pd))

32456

We would need latitude and longitude information for a map later referenced.  A pull from the google places API was not working, and I did not want to run up my API account so I used the referenced link to obtain the information I could then add into the census data. https://public.opendatasoft.com/explore/dataset/us-zip-code-latitude-and-longitude/table/

In [6]:
census_pd['Zipcode'] = census_pd.Zipcode.astype(float)
census_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32456 entries, 0 to 33084
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Zipcode            32456 non-null  float64
 1   Population         32456 non-null  float64
 2   Median Age         32456 non-null  float64
 3   Household Income   32456 non-null  float64
 4   Per Capita Income  32456 non-null  float64
 5   Poverty Count      32456 non-null  float64
 6   Poverty Rate       32456 non-null  float64
dtypes: float64(7)
memory usage: 2.0 MB

In [7]:
# Add Latitude and Longitude to census data for later use
latlong ="../Resources/us-zip-code-latitude-and-longitude.csv"
# Read files into Pandas DF
latlong= pd.read_csv(latlong)

In [8]:
print(len(latlong))
latlong.head()
latlong.columns

43191

Index(['Zipcode ', 'City', 'State', 'Latitude', 'Longitude', 'Timezone',
       'Daylight savings time flag', 'geopoint'],
      dtype='object')

In [9]:
# There was an additional space in the Zipcode series from the latitidue file so it had to be renamed prior to merging
latlong=latlong.rename(columns={'Zipcode ': 'Zipcode'})
latlong.head(2)

,Zipcode,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,210,Portsmouth,NH,43.005895,-71.013202,-5,1,43.005895
1,211,Portsmouth,NH,43.005895,-71.013202,-5,1,43.005895

In [11]:
# merge with census data
clean_2018_census_pd = pd.merge(census_pd, latlong,on='Zipcode')
clean_2018_census_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32242 entries, 0 to 32241
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Zipcode                     32242 non-null  float64
 1   Population                  32242 non-null  float64
 2   Median Age                  32242 non-null  float64
 3   Household Income            32242 non-null  float64
 4   Per Capita Income           32242 non-null  float64
 5   Poverty Count               32242 non-null  float64
 6   Poverty Rate                32242 non-null  float64
 7   City                        32242 non-null  object
 8   State                       32242 non-null  object
 9   Latitude                    32242 non-null  float64
 10  Longitude                   32242 non-null  float64
 11  Timezone                    32242 non-null  int64
 12  Daylight savings time flag  32242 non-null  int64
 13  geopoint                    32242 non-null  float64
dtypes: float64(10), int64(2), object(2)
memory usage: 3.7+ MB

In [12]:
# made all Zipcodes integers instead of floats
clean_2018_census_pd['Zipcode']= clean_2018_census_pd['Zipcode'].astype(int)
clean_2018_census_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32242 entries, 0 to 32241
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Zipcode                     32242 non-null  int32
 1   Population                  32242 non-null  float64
 2   Median Age                  32242 non-null  float64
 3   Household Income            32242 non-null  float64
 4   Per Capita Income           32242 non-null  float64
 5   Poverty Count               32242 non-null  float64
 6   Poverty Rate                32242 non-null  float64
 7   City                        32242 non-null  object
 8   State                       32242 non-null  object
 9   Latitude                    32242 non-null  float64
 10  Longitude                   32242 non-null  float64
 11  Timezone                    32242 non-null  int64
 12  Daylight savings time flag  32242 non-null  int64
 13  geopoint                    32242 non-null  float64
dtypes: float64(9), int32(1), int64(2), object(2)
memory usage: 3.6+ MB

In [13]:
# rename columns for easier merging with restaurant data
clean_2018_census_pd = clean_2018_census_pd[['Zipcode','Latitude', 'Longitude','Population', 'Median Age', 'Household Income', 'Per Capita Income', 'Poverty Count', 'Poverty Rate']]
clean_2018_census_pd

,Zipcode,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,601,18.180103,-66.74947,17242.0,40.5,13092.0,6999.0,10772.0,62.475351
1,602,18.363285,-67.18024,38442.0,42.3,16358.0,9277.0,19611.0,51.014515
2,603,18.448619,-67.13422,48814.0,41.1,16603.0,11307.0,24337.0,49.856599
3,606,18.182151,-66.95880,6437.0,43.3,12832.0,5943.0,4163.0,64.672984
4,610,18.288319,-67.13604,27073.0,42.1,19309.0,10220.0,11724.0,43.305138
...,...,...,...,...,...,...,...,...,...
32237,99922,55.209339,-132.82545,330.0,39.5,34028.0,18213.0,129.0,39.090909
32238,99925,55.555164,-133.07316,927.0,43.6,57375.0,25840.0,172.0,18.554477
32239,99926,55.123897,-131.56883,1635.0,34.5,53409.0,22453.0,235.0,14.373089
32240,99927,56.337957,-133.60689,38.0,55.5,-666666666.0,13658.0,28.0,73.684211
32241,99929,56.409507,-132.33822,2484.0,49.5,57583.0,31489.0,192.0,7.729469

### The next three cells came from my tutor, who had issues with zip codes in a previous project
https://github.com/ealong/Springboard-Capstone1/blob/master/capstone1-wrangling.ipynb

In [15]:
# Converted to string because restaurant data information was listed as string and could not merge properly
# Adjusted series name to allow proper merge as well
# Confirm number of zip codes with less than 5 digits
clean_2018_census_pd['Zipcode'] = clean_2018_census_pd['Zipcode'].astype(str)
clean_2018_census_pd = clean_2018_census_pd.rename(columns={'Zipcode': 'Zip Code'})
census_2018_badzip= clean_2018_census_pd[clean_2018_census_pd['Zip Code'].str.len()<5]
print(census_2018_badzip)

     Zip Code   Latitude  Longitude  Population  Median Age  Household Income  \
0         601  18.180103  -66.74947     17242.0        40.5           13092.0
1         602  18.363285  -67.18024     38442.0        42.3           16358.0
2         603  18.448619  -67.13422     48814.0        41.1           16603.0
3         606  18.182151  -66.95880      6437.0        43.3           12832.0
4         610  18.288319  -67.13604     27073.0        42.1           19309.0
...       ...        ...        ...         ...         ...               ...
2509     8887  40.525361  -74.79632      1004.0        44.7           89674.0
2510     8889  40.612851  -74.76682      9562.0        50.1          135601.0
2511     8901  40.488304  -74.44775     57659.0        22.8           42185.0
2512     8902  40.453131  -74.48287     41135.0        37.0           94490.0
2513     8904  40.500254  -74.42570     13992.0        35.2           80846.0

      Per Capita Income  Poverty Count  Poverty Rate
0                6999.0        10772.0     62.475351
1                9277.0        19611.0     51.014515
2               11307.0        24337.0     49.856599
3                5943.0         4163.0     64.672984
4               10220.0        11724.0     43.305138
...                 ...            ...           ...
2509            52151.0           13.0      1.294821
2510            68475.0          227.0      2.373980
2511            14928.0        16100.0     27.922787
2512            40046.0         3163.0      7.689316
2513            45349.0         1463.0     10.455975

[2514 rows x 9 columns]

In [16]:
#Research confirms that for the cities and states with zip codesless than 5 digits, the zip codes begin with 0.
#Excel truncates the leading zero. (#e.g. 06001 becomes 6001 in Excel) 

def format_postal_codes(row):
    zipcode= row['Zip Code']
    return zipcode[:5].zfill(5)

In [18]:
# Fix zip codes to have 5 digits
clean_2018_census_pd['Zip Code'] = clean_2018_census_pd.apply(format_postal_codes, axis=1)

census_2018_badzip = clean_2018_census_pd[clean_2018_census_pd['Zip Code'].str.len()<5]
print(census_2018_badzip)

Empty DataFrame
Columns: [Zip Code, Latitude, Longitude, Population, Median Age, Household Income, Per Capita Income, Poverty Count, Poverty Rate]
Index: []

In [19]:
# export to CSV
clean_2018_census_pd.to_csv("../Resources/census_data_clean_2018.csv", encoding="utf-8", index=False)

## Restaurant Data

In [20]:
# load all restaurant first and clean
fast_food_restaurants_2018 = "../Resources/Fast_Food_Restaurants_2018.csv"
# Read files into Pandas DF
Rest_2018 = pd.read_csv(fast_food_restaurants_2018)

In [21]:
# remove columns we will not need
Rest_2018=Rest_2018.drop(['id','sourceURLs','websites'], axis =1)
Rest_2018.columns

Index(['dateAdded', 'dateUpdated', 'address', 'categories', 'city', 'country',
       'keys', 'latitude', 'longitude', 'name', 'postalCode', 'province'],
      dtype='object')

In [22]:
# reorganize/rename columns
Rest_2018 = Rest_2018.rename(columns={'name':'Name', 'address': 'Address', 'city': 'City', 'country': 'Country', 'latitude': 'Latitude', 'longitude':'Longitude', 'postalCode': 'Zip Code',\
                                     'province': 'State'})
Rest_2018 = Rest_2018[['Name', 'Address', 'City','State', 'Zip Code','Country', 'Latitude', 'Longitude']]
Rest_2018.head()

,Name,Address,City,State,Zip Code,Country,Latitude,Longitude
0,SONIC Drive In,800 N Canal Blvd,Thibodaux,LA,70301,US,29.814697,-90.814742
1,SONIC Drive In,800 N Canal Blvd,Thibodaux,LA,70301,US,29.814697,-90.814742
2,Taco Bell,206 Wears Valley Rd,Pigeon Forge,TN,37863,US,35.803788,-83.580553
3,Arby's,3652 Parkway,Pigeon Forge,TN,37863,US,35.782339,-83.551408
4,Steak 'n Shake,2118 Mt Zion Parkway,Morrow,GA,30260,US,33.562738,-84.321143

In [23]:
# get unique names in list and sort alphabetically to assist with cleaning
names = Rest_2018['Name'].unique()
names.sort()
print(len(names))
print(names)

571
['7-Eleven' '90 Miles Cuban Cafe' 'A&W/Long John Silvers'
 "A's Ace Burgers" 'Abruzzi Pizza' 'Acropolis Gyro Palace'
 'Adobe Cantina Salsa' 'Ak Buffet' 'All About Burger'
 'Ameci Pizza & Pasta' "Andy's Frozen Custard" "Angelina's Pizza"
 "Ani's Chicken" "Arby's" "Arby's - Closed" 'Arbys' 'Arctic Circle'
 "Arni's Crawfordsville" "Arthur Treacher's Fish & Chips" 'Au Bon Pain'
 "Auntie Anne's" "Auntie Anne's Pretzels" 'Ay Jalisco' 'B Good'
 'B&D Burgers' "B's Pizza" 'B.GOOD' 'BURGERFI' 'Back Yard Burgers'
 'Backyard Grill' "Bad Daddy's Burger Bar" 'Baja Fresh Mexican Grill'
 "Baker's Drive Thru" "Baker's Drive-thru" 'Band Box Diner' 'Barberitos'
 "Barro's Pizza" 'Baskin-Robbins' 'Batter Up' 'BeanThru' 'Beef Villa'
 "Bell's Pizza" 'Belleria Pizzeria' "Ben & Jerry's" "Ben and Jerry's"
 "Bennidito's Pizza" 'Best Gyros' 'Big House Burgers' 'Big Island Pizza'
 'Bistro To Go' 'Blackies Hotdog Stand' 'Blackjack Pizza'
 "Blake's Lotaburger" 'Blimpie' 'Blue Coast Burrito' 'Boardwalk Grill'
 'Bob Evans' 'Bob Evans Restaurant' "Bobby's Burger Palace"
 'Boddie Noell Enterprises Inc' 'Bojangles'
 "Bojangles' Famous Chicken 'n Biscuits" 'Boloco' "Boomer's Drive-In"
 'Boston Burger Company' 'Boston Market' 'Boston Road Pizza'
 'Boys Burgers' "Braum's" 'Bristol 45 Diner' "Bubba's Texas Burger Shack"
 "Bucky's Family Restaurant" 'Buona Vita' 'Burger Basket' 'Burger House'
 'Burger King' 'Burger King/Popeyes' 'Burger King¬Æ' 'Burrito Bros.'
 "Bush's Chicken" 'CASA Mexicana' "CD's Wings" 'Cafe Paris'
 'Cafe Zona Rosa' 'California Chicken Cafe' 'California Tortilla'
 'Capri Italian Restaurant' 'Capri Restaurant' "Capriotti's Sandwich Shop"
 "Captain D's" "Captain D's Seafood" "Carl's Jr"
 "Carl's Jr / Green Burrito" "Carl's Jr." "Carl's Jr. / Green Burrito"
 "Carl's Jr. / The Green Burrito" 'Carvel' "Casey's General Store"
 'Caseys Carry Out Pizza' "Chanello's Pizza" "Charley's Grilled Subs"
 'Charleys Philly Steaks' "Charlie's Pizzeria" "Charlie's Restaurant"
 'Charo Chicken' "Checker's Pizza" 'Checkers' 'Chicago Pizza With A Twist'
 'Chick-Fil-A' 'Chick-fil-A' 'Chicken Express' 'Chicken Inn'
 'Chicken Kitchen' "Chicken Mary's" 'China Bowl Take Out Restaurant'
 'China Buffet' 'China City' 'China Garden' 'China Restaurant'
 'Chinatown Express' 'Chinatown Inn' 'Chipotle' 'Chipotle Mexican Grill'
 "Christo's Original" 'Chronic Tacos' 'Chun Wah Kam Noodle Factory'
 "Church's Chicken" 'Citizen Burger Bar' 'Clambake Seafood Restaurant'
 'Cluck-U Chicken' 'Cobani Gyro Kebab' 'Comet Burgers' 'Cook Out'
 'Cook St. Helena' 'Copper Oven Artisan Pizza' 'Cottage Inn Pizza'
 'Country Buffet' "Cousin's Subs" 'Cozumel' 'Cremo Drive-In' 'Creperie'
 'Crown Fried Chicken' "Culver's" "Cupie's Drive-In" 'D & M Subs'
 "D'Angelo Grilled Sandwiches" 'Dairy Heaven' 'Dairy Queen'
 'Dairy Queen (Treat Only)' 'Danielle Inc' 'De Afghanan Kabob House'
 'Del Taco' "Dick's Hamburgers" "Dominick's Italian Restaurant"
 'Dominion Pizza' "Domino's Pizza" "Don & Millie's" 'Dragon Dragon'
 'Dunkin Donuts' "Dunkin' Donuts" 'Earth Fare' 'East of Edens' "Eegee's"
 'Einstein Bros Bagels' 'El Burrito Loco' 'El Original' 'El Pollo Loco'
 'El Pollo Regio' 'El Ranchito Taco Shop' 'El Sombrero' 'El Taquito'
 'Errandbug Fast Restaurant Delivery' "Eudici's Pizza" 'Extreme Pita'
 'Fajita Grill' "Famous Dave's" 'Farmer Boys' 'Fashion Cafe'
 "Fast Eddie's MOAB" 'Fat Boy Burgers' "Fat Mo's Burgers" "Fat Patty's"
 'Fatburger' "Fazoli's" "Fazzari's" 'Festival Eatery'
 "Filippi's Pizza Grotto" 'Firehouse Subs' 'Five Guys'
 'Five Guys Burgers And Fries' 'Five Guys Burgers Fries' 'Flame Broiler'
 'Flaming Grill and Buffet' 'Flushing A' 'Flying J' "Foster's Freeze"
 'Fosters Freeze' 'Four Burgers' "Fox's Gourmet Delicatessen"
 "Fox's Pizza Den" 'Frankies' 'Fratellos Hot Dogs' 'Frates Drive-In'
 'Fuddruckers' 'Fuku' 'GD Bro Burger' "Gambino's Pizza"
 'Gangnam Style Korean Kitchen' 'Garden Catering' 'Genghis Grill'
 "George's Gyros Spot 2" 'Git-It-N-Git'
 'Glorious Foods Gourmet to go & Catering' 'Gold Star Chili'
 'Golden Chick' 'Golden Dragon' 'Golden Harvest Chinese Restaurant'
 'Good Guys Pizza' 'Gourmet Grill' 'Grand China Chinese Restaurant'
 'Grande Italian Restaurant' "Grandy's" 'Great American Hamburger Pie Co'
 'Great Bend Taco' 'Great Wall Restaurant' 'Great Wraps' "Guerrazzi's"
 "Gus's Carryout" 'Gyromania Grill' 'Gyros Express' 'Halo Burger'
 'Happy Dragon' "Hardee's" "Hardee's / Red Burrito" "Hardee's/red Burrito"
 'Hardees' "Heff's Burgers" 'Henny Penny Family Restaurant'
 'Hernandez Mexican Restaurant' 'HiBoy Drive-in' 'High Tech Burrito'
 'Hilton Boston Logan Airport' "Hobo's Korner Kitchen" 'Hometown Buffet'
 'Hon Lin Restaurant' 'Hot Dog on a Stick' 'Hot Lips Pizza' 'Huddle House'
 'Hunan Gardens' 'In-N-Out Burger' 'Islands Restaurant'
 'Italian Pizzeria Restaurant' 'Italian Village Pizza' "Italo's Pizza"
 "Ivan's Restaurant" 'Jack In The Box' 'Jack in the Box'
 'Jack in the Box -' "Jack's Goal Line Stand" 'Jacks N Joe'
 "Jake's Wayback Burgers" 'Jalsa Indian Fast Food' 'Jamba Juice'
 "Jason's Deli" "Jerry's Subs & Pizza" "Jersey Mike's Subs"
 "Jim Bob's Chicken Fingers" "Jim's Steakout" "Jim's Steaks"
 "Jimmy John's" 'Jimmy Johns' "Jimmy's Grotto" "Joe's Crab Shack"
 'Johnny Rockets' "Johnny's Wife's Place" "Johnson's Popcorn" 'Jollibee'
 'Jon Smith Subs' 'KFC' 'KFC - Kentucky Fried Chicken' 'KFC/AW'
 'KFC/Long John Silvers' 'KFC/Taco Bell' "Kasa's Pizza"
 "Kim's Oriental Kitchen" 'King Gyros' 'King Wah' 'King of Wings' 'Kismet'
 "Kosta's Gyros" 'Kow Thai Take Out' 'Krispy Krunchy Chicken' 'Krystal'
 'Kum & Go' 'Kumagoro Fine Japanese Restaurant and Sushi Bar'
 'La Hacienda Mexican Restaurant' "Lacey's On The Hill Restaurant"
 'Lake Trout 2' 'Lakewood Ranch Baptist Church' 'Legends Burgers'
 'Legendz' "Lilly's Restaurant" "Lin's Garden" "Lion's Choice"
 "Little Caesar's Pizza" 'Little Caesars' 'Little Caesars Pizza'
 'Little Italy' 'Little Q Hot Pot' 'Lobster Hut' 'Local Burger'
 "Long John Silver's" "Long John Silver's / AW" 'Long John Silvers'
 'Long John Silvers / A&W' 'Los Cotijas Taco Shop' 'Loving Hut'
 'Low Chinese American Restaurant' "Luby's" "Lupo's Char-Pit" "Ly's Cafe"
 "Mah's Garden Restaurant" 'Maid-rite' 'Maki Fresh' "Mama's Fried Chicken"
 'Mandarin Garden' 'Mangia Pizza' 'Marathon'
 "Mason's Famous Lobster Rolls" 'Mc Donalds' "McAlister's Deli"
 "McDonald's" "McDonald's of Rolesville" 'McDonalds' "McDonalds's"
 "Mcdonald's" 'Mcdonalds' 'Mcdonalds Whitehouse' 'Megs Drive In'
 "Mickey's Gyros & Ribs" 'Mignano Bros' "Miguel's Jr" 'Milk Street Cafe'
 "Miss Katie's Diner" "Moe's Burger Joint" "Moe's Cafe"
 "Moe's Southwest Grill" "Mooney's Ice Cream Store" 'Mr Hero' 'Mr Taco'
 'Mr. Chicken' 'Mr. Gyros Greek Food & Pastry' 'Mr. Hero' 'Mr. Hoagie'
 'Mrs. Fields' 'Mustard Seed' "My Daddy's Pizza & Grille"
 "Nathan's Famous" "Natraj's Tandoori" 'New York Pizza Department'
 "Nick's Gyros" "Nino's Pizzarama" 'Ocean Empire Restaurant'
 'Old Carolina Barbecue Company' 'Old Country Buffet'
 'Old Mill Crab House' 'Orange Julius' "Original Tommy's Hamburgers"
 "Oscar's Restaurant" 'PDQ' "Pal's Sudden Service" "Palio's Pizza Cafe"
 'Panda Express' 'Panda Express Innovation Kitchen' 'Panera Bread'
 "Papa Gino's" 'Papa Gyros' "Papa J's" "Papa Joe's Pizza"
 "Papa John's Pizza" 'Parkside Gyros' "Patrick's on Third" 'Peach Garden'
 'Pei Wei' 'Penguin Point' 'Penn Station East Coast Subs'
 "Penn's Thai Cafe" 'PepperJax Grill' 'Pepperjax Grill'
 "Petro's Chili & Chips" "Photo's Hot Dogs" 'Pick Up Stix' 'Picnic Basket'
 'Pilot Travel Center' "Pita's Republic" 'Pizza Barn' 'Pizza Guys'
 'Pizza Hut' 'Pizza Inn' 'Pizza Pipeline' 'Pizza Pro' 'Pizza Pub'
 "Plato's Closet" 'Players Grill' 'Poki Roll' 'Pollo Campero'
 'Pollo Tropical' 'Pony Express To Go' "Popeye's Louisiana Kitchen"
 'Popeyes' 'Popeyes Chicken & Biscuits' 'Popeyes Chicken Biscuits'
 'Popeyes Louisiana Kitchen' 'Port of Subs' "Portillo's" 'Pretzel Maker'
 'Pretzel Time' "Price's Chicken Coop" 'Primo Hoagies' "Primo's Pizza"
 'QDOBA Mexican Eats' 'Qdoba Mexican Eats' 'Qdoba Mexican Grill'
 "Quizno's" 'Quiznos' 'Quiznos Sub' "Raising Cane's"
 "Raising Cane's Chicken Fingers" 'Raising Canes' "Rally's"
 "Rally's Hamburgers" 'Rallys' "Rascal's Teriyaki Grill"
 "Ray J's American Grill" 'Red Baron Drive-In' 'Regions Bank'
 "Richard's Pizza" "Rick's Drive In Out" "Rico's Pizza & Subs"
 "Riviera D'Italia" 'Roche Bros.' 'Roma Pizza' 'Romas Pizza'
 'Round Table Pizza' "Rubio's" 'Runza' "Ryan's" 'SONIC Drive In'
 'SONIC Drive-In' 'SUBWAY' 'SUBWAY¬Æ' 'Sakana'
 'Sakura Japanese Restaurant' 'Salad Creations' 'Saladworks' "Sam's Gyros"
 "Sam's Pizza Restaurant" 'Sarku Japan' 'Sbarro' "Schlotzsky's"
 'Sesame Burgers & Beer' 'Shake Shack' "Shamus's Sandwich Shoppe"
 'Shangri-la Chinese Restaurant' 'Shawarma Kebab' 'Sheetz' 'Shell'
 'ShopHouse Southeast Asian Kitchen' 'Siam Fusion' "Simple Simon's Pizza"
 'Skyline Chili' 'Smashburger' "Smithfield's Chicken 'n Bar-b-q"
 'Smoothie King' 'Sonic' "Sonic America's Drive-In" 'Sonic Drive In'
 'Sonic Drive in' 'Sonic Drive-In' 'Spangles' 'St. Clair Broiler'
 'Starbucks Coffee' "Steak 'n Shake" 'Steak Escape' 'Steak N Shake'
 'Steele Pier Hotdogs' "Stoko's" 'Sub Conscious' 'Subway' 'Sumo Steaks'
 'Sunrise Gyros' 'Super Wings' 'Surfside Burger Shack'
 "Sweet Magnolia's Cafe Bakery" 'T-Mobile' "Tacconelli's Pizza"
 'Taco Bell' 'Taco Bell / KFC' 'Taco Bell/KFC' 'Taco Bell/Pizza Hut'
 "Taco Bob's" 'Taco Bueno' 'Taco Cabana' 'Taco Casa' 'Taco Del Mar'
 "Taco John's" 'Taco Mama' 'Taco Mayo' 'Taco Time' "Tam's Burgers"
 'Tanuki Sushi Bar and Garden' 'Taqueria' 'Tastee Freez' 'Thai Delight'
 "The 50's Cafe" "The Arch at McDonald's Campus Office Building"
 'The Corner Cafe' 'The Dog Pit' 'The Extreme Pita' 'The Flame Broiler'
 'The Grille' 'The Hat' 'The Hotdog Shoppe' 'The New Chalet'
 'The Pizza Company' 'The Sandwich Place' 'The Swinging Door'
 'TheMINT Gastropub' 'Tiffin' "Togi's Sub Station" "Togo's"
 "Tom's Drive In" "Tony Wang's Chinese Restaurant" 'Tonys Pizza'
 "Topper's Pizza" 'Toppers Pizza' 'Tropical Smoothie Cafe'
 'Tropicana Pizza' "Tumby's Pizza" 'Umami Burger' 'VeganBurg'
 'Villa Italian Kitchen' 'Vista Drive In' 'W.G. Grinders' 'Waffle House'
 'Walmart Supercenter' 'Wawa' "Wendy's" "Wendy's Valenti Management"
 'West Point Pizza' 'Westchester Burger Company' "Wetzel's Pretzels"
 'Whataburger' 'Which Wich' "Whipper's Pizza" 'White Castle'
 'Wienerschitzel' 'Wienerschnitzel' "Wild Willy's" 'Wingstop'
 'Wingstop Restaurant' 'Wise Guys A Chicago Eatery' 'Wolf River Diner'
 "Wolf's Dairy Queen" 'Yoshinoya' 'Zankou Chicken' "Zaxby's"
 "Zaxby's Chicken Fingers & Buffalo Wings" "Zio's Italian Kitchen"
 'b.good' 'iSushi']

In [24]:
# Rename all locations that were duplicate but had different capitalizations, punctuations, etc
Rest_2018['Name'] = Rest_2018['Name'].replace({"Arby's - Closed":"Arby's",'Arbys': "Arby's", "Auntie Anne's": "Auntie Anne's Pretzels","Baker's Drive Thru":"Baker's Drive-thru","Ben and Jerry's": "Ben & Jerry's",'Bob Evans Restaurant':'Bob Evans',"Bojangles' Famous Chicken 'n Biscuits": 'Bojangles', 'Burger King¬Æ': 'Burger King','Capri Italian Restaurant':'Capri Restaurant',"Carl's Jr.":"Carl's Jr","Carl's Jr. / Green Burrito":"Carl's Jr","Carl's Jr / Green Burrito":"Carl's Jr",'Caseys Carry Out Pizza':"Casey's General Store","Charley's Grilled Subs":'Charleys Philly Steaks',"Checker's Pizza":'Checkers','Chick-fil-A':'Chick-Fil-A', 'Chipotle':'Chipotle Mexican Grill','Dairy Queen (Treat Only)':'Dairy Queen','Dunkin Donuts':"Dunkin' Donuts",'Five Guys Burgers Fries':'Five Guys', 'Five Guys Burgers And Fries':'Five Guys',"Foster's Freeze":'Fosters Freeze', "Hardee's":'Hardees',"Hardee's / Red Burrito":'Hardees', "Hardee's/red Burrito":'Hardees','Jack in the Box':'Jack In The Box', 'Jack in the Box -':'Jack In The Box'})
Rest_2018['Name'] = Rest_2018['Name'].replace({"Jimmy John's":'Jimmy Johns','KFC - Kentucky Fried Chicken':'KFC','KFC/AW':'KFC','KFC/Long John Silvers':'KFC', 'KFC/Taco Bell':'KFC'})
Rest_2018['Name'] = Rest_2018['Name'].replace({"Little Caesar's Pizza":'Little Caesars', 'Little Caesars Pizza':'Little Caesars',"Long John Silver's / AW" 'Long John Silvers':"Long John Silver's",'Long John Silvers / A&W':"Long John Silver's",'Mc Donalds':"McDonald's","McDonald's of Rolesville":"McDonald's",'McDonalds':"McDonald's","McDonalds's":"McDonald's","Mcdonald's":"McDonald's",'Mcdonalds':"McDonald's",'Mcdonalds Whitehouse':"McDonald's"})
Rest_2018['Name'] = Rest_2018['Name'].replace({'Panda Express Innovation Kitchen':'Panda Express' ,'PepperJax Grill':'Pepperjax Grill',"Popeye's Louisiana Kitchen":'Popeyes','Popeyes Chicken & Biscuits':'Popeyes','Popeyes Chicken Biscuits':'Popeyes','Popeyes Louisiana Kitchen':'Popeyes'})
Rest_2018['Name'] = Rest_2018['Name'].replace({'QDOBA Mexican Eats':'Qdoba Mexican Grill', 'Qdoba Mexican Eats':'Qdoba Mexican Grill', "Quizno's": 'Quiznos', 'Quiznos Sub':'Quiznos',"Raising Cane's":'Raising Canes', "Raising Cane's Chicken Fingers":'Raising Canes'})
Rest_2018['Name'] = Rest_2018['Name'].replace({"Rally's Hamburgers":"Rally's", 'Rallys':"Rally's",'Roma Pizza':'Romas Pizza','SONIC Drive In': 'SONIC Drive-In', 'SUBWAY¬Æ':'SUBWAY'})
Rest_2018['Name'] = Rest_2018['Name'].replace({'Sonic':'SONIC Drive-In', "Sonic America's Drive-In":'SONIC Drive-In','Sonic Drive In':'SONIC Drive-In','Sonic Drive in':'SONIC Drive-In','Sonic Drive-In':'SONIC Drive-In',"Steak 'n Shake":'Steak N Shake','Taco Bell / KFC':'Taco Bell' ,'Taco Bell/KFC':'Taco Bell','Taco Bell/Pizza Hut':'Taco Bell'})
Rest_2018['Name'] = Rest_2018['Name'].replace({ 'Wienerschitzel':'Wienerschnitzel','Wingstop Restaurant':'Wingstop',"Wolf's Dairy Queen" :'Dairy Queen',"Zaxby's Chicken Fingers & Buffalo Wings": "Zaxby's",'b.good':'B.GOOD', 'A&W/Long John Silvers':"Long John Silver's"})
# After going through team decided to rename Pizza Hut, Taco Bell and KFC to YUM Brands
Rest_2018['Name'] = Rest_2018['Name'].replace({'Pizza Hut': 'YUM Brands', 'KFC': 'YUM Brands','Taco Bell': 'YUM Brands'})

In [25]:
print(len(Rest_2018))

10000

In [26]:
# Remove locations that are not food related 'Walmart Supercenter''T-Mobile''Hilton Boston Logan Airport''7-Eleven'
# https://thispointer.com/python-pandas-how-to-drop-rows-in-dataframe-by-conditions-on-column-values/
indexNames= Rest_2018[(Rest_2018['Name']=='Walmart Supercenter')].index
Rest_2018.drop(indexNames, inplace=True)

In [27]:
indexNames= Rest_2018[(Rest_2018['Name']=='T-Mobile')].index
Rest_2018.drop(indexNames, inplace=True)

In [28]:
indexNames= Rest_2018[(Rest_2018['Name']=='Hilton Boston Logan Airport')].index
Rest_2018.drop(indexNames, inplace=True)

In [29]:
indexNames= Rest_2018[(Rest_2018['Name']=='7-Eleven')].index
Rest_2018.drop(indexNames, inplace=True)
print(len(Rest_2018))
Rest_2018['Name'].nunique()

9977

491

In [30]:
# find number of entries for each location
Rest_2018['Name'].value_counts()

McDonald's                      1953
YUM Brands                      1442
Burger King                      834
Subway                           776
Arby's                           669
                                ...
Price's Chicken Coop               1
Chicken Mary's                     1
Sam's Pizza Restaurant             1
Sweet Magnolia's Cafe Bakery       1
Lobster Hut                        1
Name: Name, Length: 491, dtype: int64

In [31]:
# Remove all locations that have less than 50 entries
# https://www.thetopsites.net/article/58467286.shtml
threshold = 50
clean_rest_2018 = Rest_2018[Rest_2018.groupby('Name')['Name'].transform('count')>threshold].copy()
print(len(clean_rest_2018))
clean_rest_2018['Name'].value_counts()

8526

McDonald's         1953
YUM Brands         1442
Burger King         834
Subway              776
Arby's              669
Wendy's             628
Jack In The Box     332
Chick-Fil-A         228
Dairy Queen         220
Domino's Pizza      215
SONIC Drive-In      205
Carl's Jr           130
Jimmy Johns         121
Hardees             104
Krystal              82
Dunkin' Donuts       76
Panera Bread         76
SUBWAY               73
Culver's             71
Del Taco             66
Panda Express        62
Steak N Shake        56
In-N-Out Burger      54
Taco John's          53
Name: Name, dtype: int64

In [32]:
# export to csv as this is clean data incase anything happens while added in other informatoin
clean_rest_2018.to_csv('../Resources/clean_rest_2018.csv', encoding='utf-8', index = False)

In [33]:
# combine with chipotle csv
# first read get file then read into pandas DF
Chipotle_stores = "../Resources/chipotle_stores.csv"
chipotle = pd.read_csv(Chipotle_stores)
chipotle.head(2)
print(len(chipotle))

2629

In [34]:
clean_rest_2018.head(2)
print(len(clean_rest_2018))

8526

In [35]:
# merge 2 restaurant dataframes. Used concat to just add the other restaurant data underneath the chipotle information
all_rest_df = pd.concat([chipotle, clean_rest_2018])
print(len(all_rest_df))
all_rest_df

11155

,Name,Address,City,State,Zip Code,Country,Latitude,Longitude
0,Chipotle Mexican Grill,346 W Magnolia Ave,Auburn,Alabama,36832,US,32.606813,-85.487328
1,Chipotle Mexican Grill,300 20th St S,Birmingham,Alabama,35233,US,33.509722,-86.802756
2,Chipotle Mexican Grill,3220 Morrow Rd,Birmingham,Alabama,35235,US,33.595581,-86.647437
3,Chipotle Mexican Grill,4719 Highway 280,Birmingham,Alabama,35242,US,33.422582,-86.698279
4,Chipotle Mexican Grill,1821 Cherokee Ave SW,Cullman,Alabama,35055,US,34.154134,-86.841220
...,...,...,...,...,...,...,...,...
9995,YUM Brands,3460 Robinhood Rd,Winston-Salem,NC,27106,US,36.117563,-80.316553
9996,YUM Brands,3069 Kernersville Rd,Winston-Salem,NC,27107,US,36.077718,-80.176748
9997,YUM Brands,838 S Main St,Kernersville,NC,27284,US,36.111015,-80.089165
9998,YUM Brands,1702 Glendale Dr SW,Wilson,NC,27893,US,35.719981,-77.945795
9999,YUM Brands,1405 W Broad St,Elizabethtown,NC,28337,US,34.632778,-78.624615

In [36]:
# Add census data to right of all rest data(printed head to get column names)
census_2018 =clean_2018_census_pd
census_2018.head(2)

,Zip Code,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,00601,18.180103,-66.74947,17242.0,40.5,13092.0,6999.0,10772.0,62.475351
1,00602,18.363285,-67.18024,38442.0,42.3,16358.0,9277.0,19611.0,51.014515

In [38]:
# Add census data to right of all rest data
all_rest_new = pd.merge(all_rest_df,census_2018, on="Zip Code", how='left')
all_rest_new.head(50)

,Name,Address,City,State,Zip Code,Country,Latitude_x,Longitude_x,Latitude_y,Longitude_y,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,Chipotle Mexican Grill,346 W Magnolia Ave,Auburn,Alabama,36832,US,32.606813,-85.487328,32.589553,-85.539910,24509.0,23.7,27638.0,22390.0,9821.0,40.070994
1,Chipotle Mexican Grill,300 20th St S,Birmingham,Alabama,35233,US,33.509722,-86.802756,33.509623,-86.799700,1715.0,27.7,41500.0,29812.0,655.0,38.192420
2,Chipotle Mexican Grill,3220 Morrow Rd,Birmingham,Alabama,35235,US,33.595581,-86.647437,33.609779,-86.655070,20926.0,38.0,55609.0,25477.0,2829.0,13.519067
3,Chipotle Mexican Grill,4719 Highway 280,Birmingham,Alabama,35242,US,33.422582,-86.698279,33.409582,-86.696840,55122.0,40.9,91966.0,51709.0,3641.0,6.605348
4,Chipotle Mexican Grill,1821 Cherokee Ave SW,Cullman,Alabama,35055,US,34.154134,-86.841220,34.167893,-86.825060,20884.0,38.4,42252.0,23465.0,3202.0,15.332312
5,Chipotle Mexican Grill,1759 Montgomery Hwy,Hoover,Alabama,35244,US,33.378958,-86.803802,33.356981,-86.815770,31930.0,40.5,86971.0,44782.0,1737.0,5.440025
6,Chipotle Mexican Grill,5900 University Dr NW Ste D2,Huntsville,Alabama,35806,US,34.742319,-86.665720,34.748066,-86.683170,21888.0,36.6,68255.0,40270.0,2596.0,11.860380
7,Chipotle Mexican Grill,3871 Airport Blvd,Mobile,Alabama,36608,US,30.675338,-88.143754,30.690440,-88.197010,35591.0,35.3,49068.0,31222.0,5769.0,16.209154
8,Chipotle Mexican Grill,7765 Airport Blvd D100,Mobile,Alabama,36608,US,30.682731,-88.224998,30.690440,-88.197010,35591.0,35.3,49068.0,31222.0,5769.0,16.209154
9,Chipotle Mexican Grill,2560 Berryhill Rd Ste C,Montgomery,Alabama,36117,US,32.359177,-86.162253,32.373714,-86.164430,53841.0,35.2,62753.0,34749.0,6894.0,12.804368
10,Chipotle Mexican Grill,2125 Interstate Dr,Opelika,Alabama,36801,US,32.616809,-85.404479,32.660497,-85.399170,24840.0,37.4,40146.0,26209.0,5130.0,20.652174
11,Chipotle Mexican Grill,2566 Cobbs Ford Rd,Prattville,Alabama,36066,US,32.459169,-86.391343,32.459435,-86.427460,19097.0,36.7,62089.0,35089.0,2472.0,12.944442
12,Chipotle Mexican Grill,1203 University Blvd,Tuscaloosa,Alabama,35401,US,33.210669,-87.553621,33.193818,-87.568430,37194.0,22.5,25147.0,13798.0,11104.0,29.854278
13,Chipotle Mexican Grill,1800 McFarland Blvd E Ste 608,Tuscaloosa,Alabama,35404,US,33.196755,-87.527042,33.217168,-87.494610,22783.0,29.7,40616.0,22284.0,5805.0,25.479524
14,Chipotle Mexican Grill,1031 Montgomery Hwy Ste 111,Vestivia Hills,Alabama,35216,US,33.439069,-86.788285,33.420558,-86.784890,37546.0,33.5,60650.0,39463.0,2950.0,7.857029
15,Chipotle Mexican Grill,9925 W McDowell Rd Ste 101,Avondale,Arizona,85392,US,33.464377,-112.273194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Chipotle Mexican Grill,944 S Watson Rd Buckeye,Buckeye,Arizona,85326,US,33.438308,-112.558304,33.354418,-112.569410,60999.0,32.2,59477.0,19177.0,7415.0,12.155937
17,Chipotle Mexican Grill,1775 E Florence Blvd Ste 1,Grande,Arizona,85122,US,32.879130,-111.711235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Chipotle Mexican Grill,5355 E Carefree Hwy Bldg E,Creek,Arizona,85331,US,33.799146,-111.966084,33.789204,-111.963010,29905.0,48.1,103800.0,50100.0,2009.0,6.717940
19,Chipotle Mexican Grill,2895 S Alma School Rd Ste 1,Chandler,Arizona,85286,US,33.263922,-111.857261,33.850506,-112.059270,42979.0,33.8,100609.0,40496.0,1869.0,4.348635
20,Chipotle Mexican Grill,3395 W Chandler Blvd Suite 1,Chandler,Arizona,85226,US,33.305281,-111.899982,33.312208,-111.931770,38884.0,35.8,85308.0,39413.0,2393.0,6.154202
21,Chipotle Mexican Grill,890 N 54th St Ste 5,Chandler,Arizona,85226,US,33.317420,-111.968828,33.312208,-111.931770,38884.0,35.8,85308.0,39413.0,2393.0,6.154202
22,Chipotle Mexican Grill,1111 S Plaza Way,Flagstaff,Arizona,86001,US,35.189860,-111.661643,35.279872,-111.722560,46041.0,28.9,57867.0,32662.0,8549.0,18.568233
23,Chipotle Mexican Grill,1084 S Gilbert Rd Ste 104,Gilbert,Arizona,85296,US,33.329880,-111.790896,33.319722,-111.760780,43643.0,33.4,92731.0,35239.0,2523.0,5.780996
24,Chipotle Mexican Grill,1546 N Cooper Rd,Gilbert,Arizona,85233,US,33.377924,-111.807640,33.348593,-111.808330,35284.0,35.9,85419.0,37970.0,1988.0,5.634282
25,Chipotle Mexican Grill,2224 E Williams Field Rd Ste 109,Gilbert,Arizona,85295,US,33.308115,-111.742741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Chipotle Mexican Grill,3757 S Gilbert Rd Ste 110,Gilbert,Arizona,85297,US,33.281812,-111.788916,33.272322,-111.714171,33029.0,31.2,102210.0,35038.0,1310.0,3.966212
27,Chipotle Mexican Grill,20004 N 67th Ave Suite 500,Glendale,Arizona,85308,US,33.665913,-112.203454,33.657722,-112.178250,66057.0,40.7,76116.0,35639.0,5449.0,8.248937
28,Chipotle Mexican Grill,5849 W Northern Ave Ste 500,Glendale,Arizona,85301,US,33.552365,-112.185602,33.534128,-112.176700,68300.0,29.8,31410.0,14876.0,23072.0,33.780381
29,Chipotle Mexican Grill,5880 W Thunderbird Rd Ste 1,Glendale,Arizona,85306,US,33.611313,-112.184523,33.624546,-112.176700,25206.0,38.2,61439.0,26801.0,2757.0,10.937872
30,Chipotle Mexican Grill,7700 W Arrowhead Towne Ctr Ste 2067,Glendale,Arizona,85308,US,33.642074,-112.225305,33.657722,-112.178250,66057.0,40.7,76116.0,35639.0,5449.0,8.248937
31,Chipotle Mexican Grill,9410 W Hanna Ln Ste A101,Glendale,Arizona,85305,US,33.535086,-112.261951,33.529373,-112.252250,12760.0,34.6,71080.0,30827.0,1173.0,9.192790
32,Chipotle Mexican Grill,1560 N Litchfield Rd,Goodyear,Arizona,85395,US,33.463807,-112.358663,33.580089,-112.246311,29710.0,43.4,88792.0,37677.0,1432.0,4.819926
33,Chipotle Mexican Grill,18725 S Nogales Hwy,Valley,Arizona,85614,US,31.909951,-110.979973,31.857504,-111.009040,23617.0,70.0,51083.0,37041.0,1831.0,7.752890
34,Chipotle Mexican Grill,3455 N Stockton Hill Rd Ste C,Kingman,Arizona,86409,US,35.224117,-114.037009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Chipotle Mexican Grill,55 Lake Havasu Ave S Ste M,City,Arizona,86403,US,34.474797,-114.345511,34.483582,-114.336940,18119.0,48.7,43932.0,26218.0,2791.0,15.403720
36,Chipotle Mexican Grill,5130 W Baseline Rd Ste 105,Laveen,Arizona,85339,US,33.379270,-112.168999,33.352795,-112.167520,46251.0,30.8,70759.0,24548.0,7710.0,16.669910
37,Chipotle Mexican Grill,5940 W Arizona Pavillions Dr Ste 110,Marana,Arizona,85743,US,32.354885,-111.091652,32.335122,-111.148880,30217.0,41.9,73507.0,35919.0,1906.0,6.307708
38,Chipotle Mexican Grill,21423 N John Wayne Pkwy Ste 105,Maricopa,Arizona,85139,US,33.073501,-112.042850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Chipotle Mexican Grill,1229 E McKellips Rd Ste 102,Mesa,Arizona,85203,US,33.451065,-111.803357,33.437493,-111.806000,39069.0,32.6,50953.0,24339.0,6481.0,16.588600
40,Chipotle Mexican Grill,1335 S Alma School Rd Ste 105,Mesa,Arizona,85210,US,33.389606,-111.856827,33.391233,-111.841290,40919.0,30.4,40811.0,20268.0,11112.0,27.156089
41,Chipotle Mexican Grill,1411 S Power Rd Ste 103,Mesa,Arizona,85206,US,33.389877,-111.683936,33.400306,-111.724520,36901.0,44.6,50741.0,29399.0,4805.0,13.021327
42,Chipotle Mexican Grill,1955 S Signal Butte Rd Ste 101,Mesa,Arizona,85209,US,33.379425,-111.600949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Chipotle Mexican Grill,2849 N Power Rd Ste 101,Mesa,Arizona,85215,US,33.467905,-111.683469,33.479868,-111.693500,16929.0,54.8,70715.0,43638.0,1119.0,6.609959
44,Chipotle Mexican Grill,3440 E Baseline Rd Unit 104,Mesa,Arizona,85204,US,33.379668,-111.755813,33.400127,-111.785940,69278.0,31.7,50801.0,20956.0,13707.0,19.785502
45,Chipotle Mexican Grill,4984 S Power Rd Ste 107,Mesa,Arizona,85212,US,33.325507,-111.687598,33.350350,-111.645350,33724.0,32.7,89325.0,32987.0,2115.0,6.271498
46,Chipotle Mexican Grill,10604 N Oracle Rd Ste 101,Valley,Arizona,85737,US,32.398734,-110.955740,32.417144,-110.963540,21795.0,51.8,76922.0,44274.0,1626.0,7.460427
47,Chipotle Mexican Grill,16680 N 83rd Ave Ste 101,Peoria,Arizona,85382,US,33.636268,-112.234111,33.689869,-112.248380,39556.0,43.0,69833.0,33297.0,2632.0,6.653858
48,Chipotle Mexican Grill,9940 W Happy Valley Pkwy Ste 1040,Peoria,Arizona,85383,US,33.711425,-112.273081,33.700837,-112.244827,50308.0,37.7,112701.0,43135.0,1379.0,2.741115
49,Chipotle Mexican Grill,100 E Camelback Rd 200,Phoenix,Arizona,85012,US,33.509660,-112.071679,33.505251,-112.070300,7012.0,42.5,67230.0,53630.0,824.0,11.751284

In [39]:
# Remove and rename extra lat/long columns
all_rest_new = all_rest_new.rename(columns={'Latitude_x': 'Latitude', 'Longitude_x':'Longitude'})
all_rest_df = all_rest_new[['Name', 'Address', 'City','State', 'Zip Code','Country', 'Latitude', 'Longitude','Population', 'Median Age', 'Household Income','Per Capita Income', 'Poverty Count', 'Poverty Rate']]
all_rest_df.tail(50)

,Name,Address,City,State,Zip Code,Country,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
11105,McDonald's,28670 Northwestern Hwy,Southfield,MI,48034,US,42.499260,-83.303460,13819.0,42.4,45964.0,35148.0,1496.0,10.825675
11106,McDonald's,205 Back River Neck Rd,Essex,MD,21221,US,39.307620,-76.443300,43110.0,37.8,55115.0,26698.0,6135.0,14.231037
11107,McDonald's,205 Back River Neck Rd,Essex,MD,21221,US,39.307620,-76.443300,43110.0,37.8,55115.0,26698.0,6135.0,14.231037
11108,YUM Brands,7306 McClean Blvd,Parkville,MD,21234,US,39.372797,-76.567488,68938.0,40.0,64510.0,35302.0,5612.0,8.140648
11109,YUM Brands,330 Larkin Dr,Monroe,NY,10950,US,41.319444,-74.148181,50895.0,22.4,76637.0,24832.0,12410.0,24.383535
11110,Burger King,2076 State Route 208,Montgomery,NY,12549,US,41.512497,-74.206690,11235.0,41.3,91386.0,35252.0,674.0,5.999110
11111,Dunkin' Donuts,19 Rector St,New York,NY,10006,US,40.707928,-74.013950,3454.0,31.8,176250.0,114611.0,164.0,4.748118
11112,Culver's,W187S7959 Racine Ave,Muskego,WI,53150,US,42.900136,-88.148686,25622.0,44.2,89371.0,40800.0,579.0,2.259777
11113,McDonald's,801 Meadowbrook Rd,Waukesha,WI,53188,US,43.022800,-88.285200,35799.0,39.7,65043.0,36132.0,3404.0,9.508645
11114,McDonald's,3421 Biddle Ave,Wyandotte,MI,48192,US,42.198350,-83.149680,25138.0,42.7,53110.0,30477.0,2922.0,11.623836
11115,McDonald's,1676 Taylor Rd,Port Orange,FL,32128,US,29.104410,-81.033930,19806.0,49.5,75787.0,39408.0,2033.0,10.264566
11116,Jimmy Johns,5858 E 12 Mile Rd,Warren,MI,48092,US,42.506010,-83.047490,26893.0,42.4,56566.0,27428.0,3160.0,11.750270
11117,Subway,3600 SE Crossroads Dr,Grimes,IA,50111,US,41.658870,-93.773117,13764.0,34.8,91265.0,43218.0,316.0,2.295844
11118,Chick-Fil-A,1128 Manhattan Blvd,Harvey,LA,70058,US,29.897270,-90.062632,38334.0,36.5,47935.0,24082.0,6758.0,17.629259
11119,Wendy's,5701 Read Blvd,New Orleans,LA,70127,US,30.034060,-89.972850,25278.0,35.3,26530.0,17660.0,8154.0,32.257299
11120,Subway,18710 NW 67th Ave,Hialeah,FL,33015,US,25.942490,-80.307030,66272.0,38.0,50426.0,22320.0,10869.0,16.400592
11121,Wendy's,383 E National Rd,Vandalia,OH,45377,US,39.891660,-84.192530,15280.0,44.8,58516.0,33001.0,1517.0,9.928010
11122,YUM Brands,4507 Lake Worth Rd,Lake Worth,FL,33463,US,26.618980,-80.115140,62043.0,34.6,52352.0,21978.0,9741.0,15.700401
11123,SONIC Drive-In,8040 Niles St,Bakersfield,CA,93306,US,35.377190,-118.915160,73401.0,31.0,53254.0,23263.0,16164.0,22.021498
11124,YUM Brands,442 N Weber Rd,Romeoville,IL,60446,US,41.640266,-88.124760,40085.0,33.9,77110.0,26899.0,2695.0,6.723213
11125,McDonald's,5852 Dennis McCarthy Dr,Lebec,CA,93243,US,34.984450,-118.947930,1938.0,35.4,40595.0,19586.0,433.0,22.342621
11126,Wendy's,854 S Il Route 59,Bartlett,IL,60103,US,41.976090,-88.207220,42196.0,39.6,105862.0,39667.0,1878.0,4.450659
11127,Panda Express,11490 SW Canyon Rd,Beaverton,OR,97005,US,45.489729,-122.794934,26442.0,35.2,49127.0,29534.0,4959.0,18.754255
11128,Wendy's,393 N Broad St,Fairborn,OH,45324,US,39.829100,-84.025300,41029.0,31.8,49569.0,26515.0,8054.0,19.630018
11129,McDonald's,1232 Kauffman Ave,Fairborn,OH,45324,US,39.806070,-84.030130,41029.0,31.8,49569.0,26515.0,8054.0,19.630018
11130,YUM Brands,608 S Main St,Englewood,OH,45322,US,39.868910,-84.292970,21282.0,42.6,64695.0,31286.0,1751.0,8.227610
11131,Subway,6300 Kings Island Dr,Mason,OH,45040,US,39.347000,-84.269200,54507.0,39.9,99867.0,48652.0,1360.0,2.495092
11132,Subway,9656 Springboro Pike,Miamisburg,OH,45342,US,39.611300,-84.227570,36659.0,39.3,60478.0,33143.0,4493.0,12.256199
11133,Jimmy Johns,4356 N Oracle Rd,Tucson,AZ,85705,US,32.285473,-110.977974,56450.0,34.5,27657.0,17907.0,18443.0,32.671391
11134,McDonald's,3640 W Tangerine Rd,Marana,AZ,85658,US,32.424550,-111.042890,NaN,NaN,NaN,NaN,NaN,NaN
11135,Burger King,3915 W Costco Dr,Tucson,AZ,85741,US,32.327560,-111.048250,35219.0,35.5,59087.0,27797.0,3898.0,11.067889
11136,Domino's Pizza,6875 E Sunrise Dr,Tucson,AZ,85750,US,32.309300,-110.845710,24535.0,52.7,76467.0,54593.0,1371.0,5.587936
11137,McDonald's,2014 State Route 53,Fremont,OH,43420,US,41.373500,-83.118000,30133.0,41.6,46759.0,25216.0,4977.0,16.516776
11138,McDonald's,2014 State Route 53,Fremont,OH,43420,US,41.373500,-83.118000,30133.0,41.6,46759.0,25216.0,4977.0,16.516776
11139,SUBWAY,11916 Aviation Blvd,Inglewood,CA,90304,US,33.924828,-118.378075,25591.0,29.6,44574.0,15695.0,5678.0,22.187488
11140,McDonald's,407 N Lamar St,Dallas,TX,75202,US,32.781360,-96.805390,2059.0,32.2,83500.0,70647.0,278.0,13.501700
11141,SONIC Drive-In,2945 Buckner Blvd,Dallas,TX,75228,US,32.809238,-96.684639,73606.0,31.1,42470.0,20812.0,15394.0,20.914056
11142,McDonald's,8390 N Stemmons Fwy,Dallas,TX,75247,US,32.826350,-96.871290,730.0,57.4,17798.0,12677.0,461.0,63.150685
11143,McDonald's,7007 W Wheatland Rd,Dallas,TX,75249,US,32.647333,-96.943384,16482.0,33.3,54856.0,22425.0,2353.0,14.276180
11144,McDonald's,542 Tecumseh St,Dundee,MI,48131,US,41.959490,-83.668100,6986.0,41.6,60287.0,31066.0,541.0,7.744060
11145,Jack In The Box,814 N Ventura Rd,Port Hueneme,CA,93041,US,34.155100,-119.195200,24506.0,30.6,63103.0,23651.0,2818.0,11.499225
11146,McDonald's,401 W Channel Islands Blvd,Port Hueneme,CA,93041,US,34.176370,-119.208850,24506.0,30.6,63103.0,23651.0,2818.0,11.499225
11147,YUM Brands,351 E Channel Islands Blvd,Port Hueneme,CA,93041,US,34.176120,-119.195570,24506.0,30.6,63103.0,23651.0,2818.0,11.499225
11148,McDonald's,1741 Pacific Ave,Oxnard,CA,93033,US,34.180630,-119.164980,83782.0,30.2,61698.0,16787.0,14803.0,17.668473
11149,YUM Brands,5062 Styers Ferry Rd,Lewisville,NC,27023,US,36.078802,-80.387508,13088.0,45.5,75208.0,44845.0,911.0,6.960575
11150,YUM Brands,3460 Robinhood Rd,Winston-Salem,NC,27106,US,36.117563,-80.316553,48351.0,36.7,49947.0,35959.0,8233.0,17.027569
11151,YUM Brands,3069 Kernersville Rd,Winston-Salem,NC,27107,US,36.077718,-80.176748,47610.0,35.4,42787.0,22059.0,12051.0,25.311909
11152,YUM Brands,838 S Main St,Kernersville,NC,27284,US,36.111015,-80.089165,54413.0,42.7,61071.0,31974.0,6184.0,11.364931
11153,YUM Brands,1702 Glendale Dr SW,Wilson,NC,27893,US,35.719981,-77.945795,39372.0,38.1,34210.0,19058.0,11414.0,28.990145
11154,YUM Brands,1405 W Broad St,Elizabethtown,NC,28337,US,34.632778,-78.624615,10019.0,38.8,33981.0,19435.0,2960.0,29.543867

In [41]:
# Export to CSV for others to use
all_rest_df.to_csv("../Resources/All_rest_2018.csv", encoding="utf-8", index=False)

## Stock Data Cleaning